.container_skillssec{
    margin: 0 auto;
}

.container_content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
    background-color: rgba(0, 0, 0, 0.973);
    margin: 0 auto;
    padding: 30px 10px;
    border-radius: 5px;
    flex-direction: column;
}

.img_container{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    -webkit-box-shadow: 4px -1px 28px 7px rgba(250,102,3,1);
    -moz-box-shadow: 4px -1px 28px 7px rgba(250,102,3,1);
    box-shadow: 4px -1px 28px 7px rgba(250,102,3,1);
}

.skills_img_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
}

.border_title_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 30px auto;
}

.title_section{
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}

.border_div{
    width: 150px;
    height: 2px;
    background-color: black;
}

.text_container{
        font-size: 14px;
        line-height: 22px;
        width: 100%;
        color: white;
        text-align: center;
}

.ul_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: orange;
}

@media (min-width:768px){
    .container_skillssec{
        margin: 0 auto;
    }
    
    .container_content{
       flex-direction: row;
        gap: 100px;
        padding: 50px;
    }
    
    .img_container{
        width: 350px;
        height: 350px;
    }
    
    .skills_img_flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        color: white;
    }
    
    .border_title_container{
        margin: 60px auto;
    }
    
    .title_section{
        font-size: 36px;
    }
    
    .border_div{
        width: 150px;
        height: 2px;
        background-color: black;
    }
    
    .text_container{
        width: 450px;
        font-size: 18px;
        line-height: 24px;
        text-align: unset;
    }
    
    .ul_container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        color: orange;
    }
}