.container_layout{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: black;
}

.nav_container{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    text-transform: uppercase;
    li{
        color: white;
        &:hover{
            color: rgb(255, 123, 0);
        }
    }
}