.container_center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9641106443) 15%, rgb(0, 0, 0) 73%, rgb(252, 252, 252) 100%);
    padding-top: 60px;
}

.wellcomesec_textcontainer {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.885);
    flex-direction: column;
    gap: 10px;
    font-size: 22px;
    text-align: center;
    .svg_container {
        display: flex;
        align-items: center;
        justify-content: center;
        .svg {
            &:hover {
                fill: white;
            }
        }
    }
}

// .svg_rocket {
//     width: 250px;
//     height: 200px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, 100%);
    
// }

.name_color {
    color: rgb(255, 123, 0);
    animation: name 5s infinite linear alternate;
}

@keyframes name {
    0% {
        color: rgb(251, 82, 3);
    }
    25% {
        color: rgb(245, 169, 5);
    }
    50% {
        color: rgb(144, 244, 5);
    }
    75% {
        color: rgb(5, 249, 245);
    }
    100% {
        color: rgb(250, 250, 250);
    }
}

.btn_wellcomesec {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7098039216);
    border: 1px solid rgba(255, 255, 255, 0.7098039216);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    &:hover {
        color: rgb(255, 123, 0);
        border: 1px solid rgb(255, 123, 0);
    }
}

.btns_container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

@media (min-width: 768px) {
    .container_center {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0 auto;
        height: 100vh;
        width: 100%;
        background: rgb(0, 0, 0);
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.9641106442577031) 15%,
            rgba(0, 0, 0, 1) 73%,
            rgba(252, 252, 252, 1) 100%
        );
        gap: 100px;
        padding-top: 180px;
    }

    .wellcomesec_textcontainer {
        font-family: "Roboto", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(255, 255, 255, 0.885);
        flex-direction: column;
        gap: 10px;
        font-size: 36px;
        .svg_container {
            display: flex;
            align-items: center;
            justify-content: center;
            .svg {
                &:hover {
                    fill: white;
                }
            }
        }
    }
 
    .btn_wellcomesec {
        font-size: 26px;
    }

    .btns_container {
        gap: 20px;
        flex-direction: row;
    }
}
