.container_page{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background: rgb(0,0,0);
    // background: linear-gradient(180deg, rgba(0,0,0,0.9641106442577031) 15%, rgba(0,0,0,1) 73%, rgba(252,252,252,1) 100%);
}

.container_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 10px;
    flex-direction: column;
}

.img_container{
    max-width: 650px;
}

.title_project{
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto;
    color: rgb(255, 123, 0);
}

.progbars_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: rgba(255, 255, 255, 0.874);
}

.description_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    font-size: 16px;
    line-height: 24px;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.874);
}

.btn_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    border:1px solid rgb(255, 123, 0);
    color: rgb(255, 123, 0);
    text-transform: uppercase;
    &:hover{
        color: white;
    }
}

@media(min-width:768px){
    .container_page{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.919);
        min-height:100vh;
        // height: 100vh;
    }
    
    .container_flex{
        flex-direction: row;
        padding: 30px 20px;
        max-width: 1020px;
    }
    
    .title_project{
        font-size: 36px;
        color: rgb(255, 123, 0);
    }
    
    .progbars_container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        color: rgba(255, 255, 255, 0.874);
    }
    
    .description_container{
        max-width: 1020px;
        margin: 30px auto;
        font-size: 18px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.874);
    }
    
    .btn_container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex-direction: row;
        padding-bottom: 30px;
    }
    
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: transparent;
        border:1px solid rgb(255, 123, 0);
        color: rgb(255, 123, 0);
        text-transform: uppercase;
        &:hover{
            color: white;
        }
    }
}